/* Remove all styling from Galleries. This will allow Masonry to work a bit better. Only available on WP >= 3.9 since it requires HTML5 <figure> */
.gallery { margin: 1.5em auto !important }
    .gallery *,
    .gallery a {
        border: none !important;
        text-align: center !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 1 !important;
        text-decoration: none !important;
        /*display: inline !important;*/
        border-radius: 0 !important;
        box-shadow: none !important;
        vertical-align: middle !important;
    }
.gallery-caption { line-height: 125% !important;}

.wp-caption{
   position:relative;
   
}

.wp-caption img,
.wp-caption-text{
   
	display: none;
    font-family:inherit;
    height: auto;
    padding-top: 120px;
	padding-bottom: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
	background-color:gray;
	
	pointer-events: none;
	
}
.wp-caption img{
   top:30px;
}

.wp-caption-text {
   top:0;
   color:white;
}
